body {
    background: url(/assets/images/debut_light.png) repeat;

    /* Делаем шрифты в вебките более сглаженными */
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin: 10px auto 20px;
}

h2 {
  margin: 10px auto 40px;
}

#content {
    padding-top: 1rem;
    padding-bottom: 60px;
}

.footer {
    margin-top: 40px;
    height: 65px;
}