@import "../foundation/variables";

article {

    h3 {
        margin-bottom: 0;
    }

    // Категория статьи, располагается над заголовком
    h3.article-category {

        text-align: center;

        color: $aluminum;
        font-size: .9rem;

        // Уберём внешний верхний отступ между категорией и заголовком статьи для большей красоты
        & + h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            line-height: 1.8rem;
        }

    }

    // Строка с датой записи
    .post-date {
        text-align: center;
        font-size: .9rem;
        color: $aluminum;
    }

    &.single .post-content {
        margin-top: 2rem;
    }

    .post-content {
        margin-top: 1rem;

        p, li {
            text-align: justify;
        }

        pre {
            font-size: $paragraph-font-size;
        }

        ol li {
            margin-bottom: 1rem;
        }

        .anchor .header-link:before {
            content: "#";
            opacity: .6;
            margin-right: .5rem;
        }

        .article-image {
            cursor: zoom-in;
        }

        h3 {
            margin-bottom: 1rem;
            margin-top: 2rem;
        }

        .hljs {
            margin-bottom: 1rem;
        }
    }

}

