.header {
    margin-top: .5rem;

    hr {
        margin: .5rem 0;
    }

    h1 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 2rem;
        text-align: left;

        a:not(.button) {
            color: #444;
        }
    }

    p {
        text-align: left;
        color: #777;
        margin-bottom: .5rem;
    }

    .categories {
        text-align: center;
    }
}