// Подключим глобальные хелперы Foundation
@import "../foundation/variables";
@import "public/assets/development/bower/foundation/scss/foundation/components/global";

.margin-hor-0 {
    margin-left:  0 !important;
    margin-right: 0 !important;
}

// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

$dl-horizontal-offset: 180px;

.dl-horizontal {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: 40.063em) {
    dt {
      float: left;
      width: ($dl-horizontal-offset - 20);
      clear: left;
      text-align: left;
      @include text-overflow;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      margin-bottom: 0;
    }
  }
}

// Простой класс, который делает определённый объект более
// восприимчивым для клика на него
.clickable {
    color: $anchor-font-color;
    cursor: pointer;
}

.clickable-dashed {
    cursor: pointer;
    color: $anchor-font-color;
    border-bottom: 1px dotted $anchor-font-color;
    padding-bottom: 0;
    display: inline-block;
    line-height: 140%;
    font-weight: normal;
    &:hover, &:focus {
        border-bottom-color: darken($anchor-font-color, 10%);
        color: darken($anchor-font-color, 10%);
        text-decoration: none;
    }
}