a:not(.button) {
    line-height: 1.1;
    display: inline-block;
    
    &:after {
        display: block;
        content: "";
        height: 1px;
        width: 0%;
        background-color: #ff4088;
        transition: width 1s ease;
    }

    &:hover:after {
        transition: width .5s ease;
        width: 100%;
    }
}
